.imgBackground {
  background: url('sky.jpg') no-repeat top; 
  background-size: 100%;
	}
.bluebar {
    width: 100%;
    margin: 0 auto;
    background: rgb(155, 147, 148);
    background: rgb(226, 208, 196);
    height: 300px
}  
.padnav {
  padding-top: 50px;
}
.notify {
  padding-top: 1%;
  text-align: center;

}
/*FONT STUFF*/
.makebold-title {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 275%;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 6%;
  margin-top: -15px;
}
.reduced-alpha-white {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: white;
  opacity: 0.8;
}
h2 {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 250%;
  font-weight: 500;
  color: black;
}
h4 {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 7px;
}
.sename {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 600%;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 30px;
}
.font-description-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding: 0 40px 50px;
}
.white-title {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 275%;
  font-weight: 200;
  color: white;
  text-align: center;
  margin-top: -15px;
}
.black-description {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 150%;
  font-weight: 200;
  color: black;
  line-height: 1.5;
}
.skills-list {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: black;
  line-height: 32px;
  float: left;
  padding-left: 10px;
  margin-right: 50px;
}
.skills-list-2nd-ul {
  font-family: -apple-system,'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: black;
  line-height: 32px;
  float: left;
  padding-left: 5px;
  margin-right: 50px;
  list-style-type: none;
}
.chrisarnoult {
	font-family: -apple-system,'Roboto', sans-serif;
	font-size: 275%;
	font-weight: 100;
  font: ultra-condensed;
	line-height: 50px;
	}
#nocolor:hover {color:#ffffff;}
.nav-pos {
    position: relative;
    float: right;
    padding-right: 30px;
    padding-left: 30px;
    font-family: sans-serif;
    font-size: 150%;
    max-width: 20%;
    height: auto;
    line-height: 50px;
    font-weight: 300;
}
a.nav-link:link
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #333;
   text-decoration: none;
}
a.nav-link:active
{
   color: #f;
   text-decoration: none;
}